/* Import the responsive stylesheet to the main stylesheet */
@import "responsive.css";


/* ==========================================================================
   Main page
   ========================================================================== */

/* Load a custom font form the repository */
@font-face {
  font-family: "Open Sans Semibold";
  /* Compatibility for IE, Chrome-Firefox, Safari-Android & old iOS */
  src: url("../font/OpenSans-Semibold.eot?") format("eot"),
       url("../font/OpenSans-Semibold.woff") format("woff"),
       url("../font/OpenSans-Semibold.ttf") format("truetype"),
       url("../font/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Global selector */
* {
  font: 14px "Open Sans Semibold";
  letter-spacing: -0.5px;
}


/* ==========================================================================
   Header content
   ========================================================================== */

header {
  background-color: #F56B2A;
  width: 100%;
  position: static;
  padding: 1px 0 1px 0;
}

/* Fix the header to the top and to the right & center the text */
.header-navlist {
  top: 0;
  right: 0;
  list-style: none;
  text-align: center;
}

/* Vertically center the logo in the header */
.header-navlist img {
  vertical-align: middle;
}

/* Vertically display & align the header navlist */
.header-navlist li {
  display: inline-block;
  vertical-align: middle;
}

/* Change the style of the last element of the header navigation list & fix*/
.header-navlist li:last-child {
  text-transform: none;
  margin-left: 12.5em;
}

/* Set the default font color of the header navlist links & prevent them from being underlined */
.header-navlist li a {
  color: #FFFFFF;
  text-decoration: none;
}

/* Resize the log-in icon in the header navigation list */
.header-navlist .log-in-icon {
  height: 20px;
  width: 20px;
}

/* Force the header navlist links to be capitalized & space them out */
.header-navlist-link {
  text-transform: uppercase;
  padding-left: 0.85em;
  padding-right: 0.85em;
}

/* Force the header links to be underlined when the mouse hovers them */
.header-navlist a:hover {
  text-decoration: underline;
}


/* ==========================================================================
   Body content
   ========================================================================== */

body {
  background: #FAFAFA;
  margin: 0 auto;
  resize: both;
  overflow: auto;
}

.wrapper {
  display: -webkit-box; /* iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* Firefox 19- */
  display: -ms-flexbox; /* IE 10 */
  display: -webkit-flex; /* Chrome */
  display: flex; /* Opera 12.1, Firefox 20+ */
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* =================================
  Body left aside */

.body-left-aside p {
  max-width: 60%;
  line-height: 20px;
  color: #1A1A1A;
  padding-left: 16px;
  padding-bottom: 10px;
}

.body-left-aside p span {
  color: #F56B2A;
}

.button {
  list-style-type: none;
  padding: 0;
}

.button li {
  vertical-align: middle;
  padding: 18px;
}

.button li img {
  height: 14px;
  width: 14px;
  margin-right: 5px;
  vertical-align: middle;
}

.create-ad-button, .search-around-button {
  text-decoration: none;
  border: 1px solid #4183D7;
  border-radius: 4px;
  padding: 10px;
  font-size: 13px;
}

.create-ad-button {
  color: #FFFFFF;
  background-color: #4183D7;
  padding-right: 20px;
  padding-left: 20px;
}

.create-ad-button:hover, .create-ad-button:focus {
  background-color: #4C94EF;
}

.create-ad-button:focus {
  text-decoration: underline;
}

.search-around-button {
  color: #4183D7;
  padding-left: 49px;
  padding-right: 49px;
}

.search-around-button:hover {
  background-color: #D9E6F7;
}

/* =================================
  Body middle section (map of the France)*/

section {
  padding-top: 30px;
}



/* =================================
  Body right aside (departments list) */

/* Clearfix the floating elements */
.clean-float {
  clear: both;
}

/* Remove the departments list bullets & aligns the text to the right */
.departments-navlist ul {
  list-style: none;
  text-align: right;
}

/* Set the font color of the departments list links, prevent them from being underlined & vertically space them out */
.departments-navlist a {
  color: #4271A0;
  text-decoration: none;
  line-height: 20px;
}

/* Set the font color of the departments list links when the mouse hovers them */
.departments-navlist a:hover {
  color: #F56B2A;
}


/* ==========================================================================
   Footer content
   ========================================================================== */

footer {
  background-color: #F2F2F2;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
