/* Import the responsive stylesheet to the main stylesheet */
@import "responsive.css";


/* ==========================================================================
   Main page
   ========================================================================== */

/* Global selector */
* {
  font: 14px "Open Sans", sans-serif;
  font-weight: bold;
}


/* ==========================================================================
   Body content
   ========================================================================== */

body {
  background: #FFFFFF;
  margin: 0 auto;
  resize: both;
  overflow: auto;
}


/* ==========================================================================
   Header content
   ========================================================================== */

header {
  background-color: #F56B2A;
  width: 100%;
  position: static;
  padding: 4px 0 4px 0;
  left: 0;
}

.header-navlist {
  top: 0;
  right: 0;
  list-style: none;
}

.header-navlist li {
  display: inline;
}

.header-navlist a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.header-navlist a:hover {
  text-decoration: underline;
}


/* ==========================================================================
   List of departments (body aside)
   ========================================================================== */

.departments-list {
  float: right;
}

/* Clearfix the floating elements */
.clean-float {
  clear: both;
}

.departments-navlist ul {
  list-style: none;
  text-align: right;
}

.departments-navlist a {
  color: #4271A0;
  text-decoration: none;
}

.departments-navlist a:hover {
  color: #F56B2A;
}
